{% extends "base/base.html" %}
{% block content %}
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<form action="days_create" method="post" class="form-horizontal" role="form">
  {% csrf_token %}
  {% bootstrap_form form form_group_class='form-group' label_class='control-label col-sm-2' field_class='col-sm-2' %}
  {% buttons %}
   <div class="col-sm-offset-2 col-sm-2">
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "user" %} Création
    </button>
    </div>
  {% endbuttons %}
</form>
{% endblock %}