{% extends "base/base.html" %}
{% block content %}
{% include "base/status.html" %}
<h4 class="sub-header">Mon planning d'activité</h4>
<div class="row">
    <div class="col-lg-1">Lun</div>
    <div class="col-lg-1">Mar</div>
    <div class="col-lg-1">Mer</div>
    <div class="col-lg-1">Jeu</div>
    <div class="col-lg-1">Ven</div>
    <div class="col-lg-1">Sam</div>
    <div class="col-lg-1">Dim</div>
</div> 
    {% for calendar_month in calendar_list %}
        {% for aday in calendar_month %}
        {% if aday.desc = 0 %}           
            {% if forloop.counter0 != 0  %}
                </div><div class="row">
            {% else %} 
                <div class="row">
                <!-- Start the first day of month in the correct place -->
                {% for anEmpty in aday.range %}
                    <div class="col-lg-1">x</div>
                {% endfor %}
            {% endif %}
        {% elif forloop.counter0 == 0  %}
            <div class="row">
            <!-- Start the first day of month in the correct place -->
            {% for anEmpty in aday.range %}
                <div class="col-lg-1">x</div>
            {% endfor %}             
        {% endif %}
            <div class="col-lg-1">
                {% if  aday.type  == 2 %}
                    <div class="btn-group">
                        {% if aday.passed %}
                            {{ aday.day|date:'d/m/Y' }}
                        {% else %}   
                            <a class="btn dropdown-toggle btn-info btn-small" data-toggle="dropdown" href="#">
                            {{ aday.day|date:'d/m/Y' }}
                            <span class="caret"></span>
                            </a>
                        {% endif %}                      
                        <ul class="dropdown-menu">
                            <li><a href="{% url planning.views.reserved_day_remove aday.day|date:'Y' aday.day|date:'m' aday.day|date:'d'%}/?page={{ calendar_month.number }}">Rendre échangeable</a></li>
                        </ul>
                    </div>
                {% elif  aday.type  == 1 %}    
                    <div class="btn-group">
                            <a class="btn dropdown-toggle btn-danger btn-small" data-toggle="dropdown" href="#">
                                {{ aday.day|date:'d/m/Y' }}
                                <span class="caret"></span>
                             </a>
                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li class="dropdown-submenu">                                   
                                {% for plan in aday.work %}
                                    <a tabindex="-1" href="#">{{plan.ptimestamp.description}}</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                        <a href="#">{{plan.pjob.name}}</a>
                                            <ul class="dropdown-menu">                                                    
                                                {% if plan.request_swap  %}                                     
                                                    <li><a href="#">Echange en cours</a></li>
                                                {% else %}
                                                    <li><a href="{% url planning.views.auto_swap plan.id %}">Echanger garde</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                {% endfor %}
                                </li>
                            </ul>                        
                    </div>
                {% else %}
                    <div class="btn-group">
                        {% if aday.passed %}                            
                            {{ aday.day|date:'d/m/Y' }}                          
                         {% else %} 
                            <a class="btn dropdown-toggle btn-success btn-small" data-toggle="dropdown" href="#">
                            {{ aday.day|date:'d/m/Y' }}
                            <span class="caret"></span>
                            </a>
                         {% endif %}                      
                        <ul class="dropdown-menu">
                            <li><a href="{% url planning.views.reserved_day_add aday.day|date:'Y' aday.day|date:'m' aday.day|date:'d'%}/?page={{ calendar_month.number }}">Rendre non échangeable</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endfor %} 
    {% endfor %}  
    </div>  
<ul class="pager">
    {% if calendar_list.has_previous %}
    <li>
        <a href="?page={{ calendar_list.previous_page_number }}">Précédent</a>
    </li>
    {% endif %}
    <li>
        Page {{ calendar_list.number }} sur {{ calendar_list.paginator.num_pages }}
    </li>
        {% if calendar_list.has_next %}
    <li>
         <a href="?page={{ calendar_list.next_page_number }}">Suivant</a>
    </li>
    {% endif %}
</ul>

{% endblock %}
