{% extends "base/base.html" %}
{% block content %}
{% include "base/status.html" %}
<table class="table table-striped table-condensed">
<caption> Mes contraintes à venir<caption>
<thead>
<tr>
                <th>  </th>
                <th>  </th>
		<th> </th>
</tr>
<tbody>
{% for calendar in calendar_list %}
{% if  calendar.description  == 2 %}
	<tr class="warning">
	<td> {{ calendar.day|date:'d/m/Y' }}</td>
	<td> Journée non échangeable</td>
	<td>
 	<div class="btn-group">
		 <a class="btn dropdown-toggle btn-primary btn-small" data-toggle="dropdown" href="#">
		Action
		<span class="caret"></span>
		</a>
			<ul class="dropdown-menu">
			<li><a href="{% url planning.views.reserved_day_remove calendar.day|date:'Y' calendar.day|date:'m' calendar.day|date:'d'%}">Rendre échangeable</a></li>
			</ul>
	 </div>
	</td>

{% elif  calendar.description  == 1 %}
	<tr class="error">
	<td> {{ calendar.day|date:'d/m/Y' }}</td>
	<td> Garde plannifiée</td>
	<td></td>
{% else %}
	<tr class="info">
	<td> {{ calendar.day|date:'d/m/Y' }}</td>
	<td> Journée échangeable</td>
	<td>
	<div class="btn-group">
		<a class="btn dropdown-toggle btn-primary btn-small" data-toggle="dropdown" href="#">
		Action
		<span class="caret"></span>
		</a>
			<ul class="dropdown-menu">
			<li><a href="{% url planning.views.reserved_day_add calendar.day|date:'Y' calendar.day|date:'m' calendar.day|date:'d'%}">Rendre non échangeable</a></li>
			</ul>
	 </div>
	</td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</thead>
</table>
<ul class="pager">
        {% if calendar_list.has_previous %}
	<li>
            <a href="?page={{ calendar_list.previous_page_number }}">Précédent</a>
        </li>
	{% endif %}
	<li>
            Page {{ calendar_list.number }} sur {{ calendar_list.paginator.num_pages }}.
	</li>
        {% if calendar_list.has_next %}
	<li>
            <a href="?page={{ calendar_list.next_page_number }}">Suivant</a>
        </li>
	{% endif %}
</ul>
{% endblock %}
