{% extends "base/base.html" %}
{% block content %}
{% if old %}
	<h3>Mes gardes effectuées </h3>
{% else %}
	<h3>Mes gardes à venir </h3>
{% endif %}
<table class="table table-hover table-condensed">
<thead>
	<tr>
		<th> Date </th>
		<th> Horaire </th>
		<th> Service/poste </th>
		{% if old %} {% else %}
			<th> </th>
		{% endif %}
	</tr>
	 <tbody>
	{% for planning in current_planning %}
	<tr>
		<td>{{ planning.day }}</td>
		<td> {{ planning.ptimestamp.description }}</td>
		<td> {{ planning.pjob.name }}</td>
		<td> 
			{% if old %} {% else %}
			    <div class="btn-group">
    				<a class="btn dropdown-toggle btn-primary btn-small" data-toggle="dropdown" href="#">
					Action
					<span class="caret"></span>
    				</a>
    				<ul class="dropdown-menu">
    <!-- dropdown menu links -->	<li><a href="{% url planning.views.auto_swap planning.id %}">Echanger ma garde</a></li>
					<li><a href="#">Historique des changements</a></li>
    				</ul>
    			</div>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</thead>
</table>
{% endblock %}
