{% extends "base/base.html" %}
{% block content %}
<table class="table table-hover table-condensed">
{% if old %}
	<caption>Mes gardes effectuées<caption>
{% else %}
	<caption>Mes gardes plannifiées<caption>
{% endif %}

<thead>
	<tr>
		<th>  </th>
		{% if old %} {% else %}
			<th> </th>
		{% endif %}
	</tr>
	 <tbody>
	{% for planning in current_planning %}
	<tr>
		<td><i class="icon-calendar"></i> {{ planning.day|date:'d/m/Y' }} ({{ planning.ptimestamp.description }}) <i class="icon-arrow-right"></i> {{ planning.pjob.name }}</td>
		<td> 
			{% if old %}
			{% elif planning.request_swap %}<i class="icon-time"></i> Demande d'échange en cours
			{% elif not planning.official_approved %}<i class="icon-ok"></i> Echange effectué, validation en cours{% else %} 
			    <div class="btn-group">
    				<a class="btn dropdown-toggle btn-primary btn-small" data-toggle="dropdown" href="#">
					Action
					<span class="caret"></span>
    				</a>
    				<ul class="dropdown-menu">
    <!-- dropdown menu links -->	<li><a href="{% url planning.views.auto_swap planning.id %}">Echanger ma garde</a></li>
					<li><a href="#">Historique des changements</a></li>
    				</ul>
    			</div>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</thead>
</table>
 <ul class="pager">
         {% if current_planning.has_previous %}
         <li>
             <a href="?page={{ current_planning.previous_page_number }}">Précédent</a>
         </li>
         {% endif %}
         <li>
             Page {{ current_planning.number }} sur {{ current_planning.paginator.num_pages }}
         </li>
         {% if current_planning.has_next %}
         <li>
             <a href="?page={{ current_planning.next_page_number }}">Suivant</a>
         </li>
         {% endif %}
</ul>

{% endblock %}
