{% extends "base/base.html" %}
{% block content %}

<table class="table table-hover table-condensed">
<thead>
        <tr>
                <th> </th>
                <th> </th>
		<th> </th>
		<th> </th>
        </tr>
         <tbody>

{% for planning in planning_list %}
<tr>
	<td><i class="icon-calendar"></i> {{ planning.planning_to_swap.day|date:'d/m/Y' }} ({{ planning.planning_to_swap.ptimestamp.description }}) <i class="icon-arrow-right"></i> {{ planning.planning_to_swap.pjob.name }}</td>
	<td><i class="icon-resize-horizontal"></i> </td>
	<td><i class="icon-calendar"></i> {{ planning.planning_to_swap_with.day|date:'d/m/Y' }} ({{ planning.planning_to_swap_with.ptimestamp.description }}) <i class="icon-arrow-right"></i> {{ planning.planning_to_swap_with.pjob.name }}</td>
	<td>
	{% if planning.accepted %}
		<i class="icon-user"></i> {% if  not my %}{{ planning.doctor_to_swap.username }}{% else %}{{ planning.doctor_to_swap_with.username }}{% endif %} a accepté
	{% else %}
	<div class="btn-group">
		<a class="btn dropdown-toggle btn-primary btn-small" data-toggle="dropdown" href="#">
			 <i class="icon-user"></i>
			{% if  not my %}{{ planning.doctor_to_swap.username }}{% else %}{{ planning.doctor_to_swap_with.username }}{% endif %}
		<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			{% if  not my %}
					<li><a href="{% url 'planning.view.views_functional.accept_swap' planning.id %}"><i class="icon-thumbs-up"></i> Accepter</a></li>
					<li><a href="{% url 'planning.view.views_functional.cancel_swap' planning.id %}"><i class="icon-thumbs-down"></i> Refuser</a></li>
			{% else %}
				<li><a href="{% url 'planning.view.views_functional' planning.id %}"><i class="icon-remove"></i> Annuler</a></li>
			{% endif %}
		</ul>
	</div>
	{% endif %}
	</td>

	{% endfor %}
</tr>
</thead>
</table>
{% endblock %}
