{% extends "base/base.html" %}
{% block content %}
{% include "base/status.html" %}

<h4 class="sub-header">Mon planning d'activité de
{% for amonth in mymonth %}
    {{amonth}}
{% endfor %} </h4>
Date du jour : {{todays |date:'d/m/Y'}}
<div class="row">
    <div class="col-lg-1" id="header_"><b>Lun</b></div>
    <div class="col-lg-1" id="header_"><b>Mar</b></div>
    <div class="col-lg-1" id="header_"><b>Mer</b></div>
    <div class="col-lg-1" id="header_"><b>Jeu</b></div>
    <div class="col-lg-1" id="header_"><b>Ven</b></div>
    <div class="col-lg-1" id="header_"><b>Sam</b></div>
    <div class="col-lg-1" id="header_"><b>Dim</b></div>
</div> 
    {% for calendar_month in calendar_list %}
        {% for aday in calendar_month %}
        {% if aday.desc = 0 %}           
            {% if forloop.counter0 != 0  %}
                </div><div class="row">
            {% else %} 
                <div class="row">
                <!-- Start the first day of month in the correct place -->
                {% for anEmpty in aday.range %}
                    <div class="col-lg-1"id="passed"></div>
                {% endfor %}
            {% endif %}
        {% elif forloop.counter0 == 0  %}
            <div class="row">
            <!-- Start the first day of month in the correct place -->
            {% for anEmpty in aday.range %}
                <div class="col-lg-1" id="passed"></div>
            {% endfor %}             
        {% endif %}
        <!-- 2: reserved days 
             1: work days
             0: free days-->
        {% if  aday.type  == 2 %}
            {% if aday.passed %}
                <div class="col-lg-1" id="passed">
            {% else %}
                <div class="col-lg-1" id="reserved">
            {% endif %}
        {% elif aday.type  == 1 %}
            {% if aday.passed %}
                <div class="col-lg-1" id="passed">
            {% else %}
                <div class="col-lg-1" id="work">
            {% endif %}
        {% else %}
            {% if aday.passed %}
                <div class="col-lg-1" id="passed">
            {% else %}                
                <div class="col-lg-1" id="availaible">
            {% endif %}
        {% endif %}
                {% if  aday.type  == 2 %}
                    <div class="btn-group">
                        {% if aday.passed %}
                            {{ aday.day|date:'d' }}
                        {% else %}   
                            <a class="btn dropdown-toggle btn-link btn-small" data-toggle="dropdown" href="#">
                            {{ aday.day|date:'d' }}
                            <span class="caret"></span>
                            </a>                                             
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'planning.view.views_functional.reserved_day_remove' aday.day|date:'Y' aday.day|date:'m' aday.day|date:'d'%}/?page={{ calendar_month.number }}">Rendre échangeable</a></li>
                            </ul>
                        {% endif %}
                    </div>
                {% elif  aday.type  == 1 %}    
                    <div class="btn-group">
                            {% if aday.passed %}
                                {{ aday.day|date:'d' }}
                            {% else %} 
                                <a class="btn dropdown-toggle btn-link btn-small" data-toggle="dropdown" href="#">
                                    {{ aday.day|date:'d' }}
                                 <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li class="dropdown-submenu">                                   
                                {% for plan in aday.work %}
                                    <a tabindex="-1" href="#">{{plan.ptimestamp.description}}</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                        <a href="#">{{plan.pjob.name}}</a>
                                            <ul class="dropdown-menu">                                                    
                                                {% if plan.request_swap  %}                                     
                                                    <li><a href="#">Echange en cours</a></li>
                                                {% else %}
                                                    <li><a href="{% url 'planning.view.views_functional.auto_swap' plan.id %}">Echanger garde</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                {% endfor %}
                                </li>
                                </ul>
                            {% endif %}                        
                    </div>
                {% else %}
                    <div class="btn-group">
                        {% if aday.passed %}                            
                            {{ aday.day|date:'d' }}                          
                         {% else %} 
                            <a class="btn dropdown-toggle btn-link btn-small" data-toggle="dropdown" href="#">
                            {{ aday.day|date:'d' }}
                            <span class="caret"></span>
                            </a>
                                               
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'planning.view.views_functional.reserved_day_add' aday.day|date:'Y' aday.day|date:'m' aday.day|date:'d'%}/?page={{ calendar_month.number }}">Rendre non échangeable</a></li>
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %} 
    {% endfor %}  
    </div>  
<ul class="pager">
    {% if calendar_list.has_previous %}
    <li>
        <a href="?page={{ calendar_list.previous_page_number }}">Précédent</a>
    </li>
    {% endif %}
    <li>
        Page {{ calendar_list.number }} sur {{ calendar_list.paginator.num_pages }}
    </li>
        {% if calendar_list.has_next %}
    <li>
         <a href="?page={{ calendar_list.next_page_number }}">Suivant</a>
    </li>
    {% endif %}
</ul>

{% endblock %}
